.divTrSlice{
  width: 200px;
}
.numberSlice{
width: 20px;
}

tr{
  display: block;
}
td{
  display: table-cell;
}
table{
  border-collapse: separate;
  border-spacing: 0px 5px;
}

.nums{
  padding: 10px;
}
.bullet--line{
  margin-left: 3px;
  border-radius: 3px;
  height: 5px;
  position: absolute; 
  background-color: black;
  width: 100%;
  z-index: 1;
}
.bullet--line2{
  border-radius: 3px;
  height: 5px;
  position: absolute; 
  background-color: cyan;
  width: 100%;
  z-index: 2;
}


.slider {
  position: relative;
  width: 200px;
}

.bullet {
  border: black;
  pointer-events: none;
  position: absolute;
  height: 0px;
  width: 200px;
  outline: none;
}

.bullet--right {
  z-index: 3;
}

.bullet--left {
  z-index: 4;
}

/*El color del background no funciona, creo que sigue teniendo los valor por defecto del buscador  */
/*For Chrome browsers */
.bullet::-webkit-slider-thumb {
  background: rebeccapurple;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px cyan;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
/*For Firefox browsers */
.bullet::-moz-range-thumb {
  background: rebeccapurple;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px cyan;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}
/*For Microdoft Edge browsers */
.bullet::-ms-thumb {
  background: rebeccapurple;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px cyan;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}


