.bullet{ 
  width: auto;
  height: auto;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}
.divTrSlice{
  display: flex;
  place-items: center;
  position: relative;
  width: 200px;
}
.numberSlice{
width: 20px;
}

.nums{
  padding: 10px;
}
.bullet--line{
  margin-left: 3px;
  border-radius: 3px;
  height: 5px;
  position: absolute; 
  background-color: black;
  width: 100%;
  z-index: 1;
}
.bullet--line2{
  border-radius: 3px;
  height: 5px;
  position: absolute; 
  background-color: cyan;
  width: 100%;
  z-index: 2;
}

.slider {
  position: relative;
  width: 200px;
}

.bullet--right {
  z-index: 3;
}

.bullet--left {
  z-index: 3;
}




