.bullet {
  width: auto;
  height: auto;
  background: rebeccapurple;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}
.bullet:hover {
  transform: scale(1.3);
}
.divSlider {
  display: flex;
  place-items: center;
  width: 220px;
  position: relative;
}
.numberSlice {
  padding: 5px;
  width: 30px;
}

.nums {
  padding: 10px;
}
.sliderLine {
  margin-left: 3px;
  border-radius: 3px;
  height: 5px;
  position: absolute;
  background-color: black;
  width: 200px;
  z-index: 1;
}
.sliderLineRange {
  border-radius: 3px;
  height: 5px;
  position: absolute;
  background-color: rebeccapurple;
  width: 100%;
  z-index: 2;
}

.rangeComponent {
  border: 1px solid black;
  display: inline-flex;
}

.bullet--right {
  z-index: 3;
}

.bullet--left {
  z-index: 4;
}
